<!-- info.html-->
<!-- This file contains the code to show the user information about
the developer of this web application -->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	<title>Information</title>

	<!-- Own Style files are imported -->
	<link rel="stylesheet" href="./static/css/infoStyles.css">
	<link rel="stylesheet" href="./static/css/fontello.css">

	<!-- The JQuery library is imported -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
	<header class="header">
		<input type="checkbox" id="btn-menu">
		<div class="container">
			<div class="btn-menu">
				<label for="btn-menu">☰</label>
			</div>
			<div class="logo">
				<h1>ChessOnlineAlfarnedo</h1>
			</div>

			<nav class="menu-simple">
				<a href="/">Home</a>
				<a href="/info">About Us</a>
				<a href="https://es.wikipedia.org/wiki/Stockfish" target="_blank">About Stockfish</a>
			</nav>
			<div class="texto">
				<h1>Hi, I'm Sarah, graduated in telecommunications engineering master.</h1>
        <h1>Thank you for using the web application that I have developed</h1>
				<h1>I hope you like it!</h1>
			</div>
		</div>
		<nav class="menu-desplegable">
			<ul>
				<li><a href="/chessGame">Play</a></li>
				<li class="submenu"><a href="#">Chess Endings<span class="icon-down-open"></a>
				<ul>
					<li role="presentation"><a href="/basicChessEndings">Basic Chess Endings</a></li>
					<li role="presentation"><a href="/practicalChessEnding">Practical Chess Endings</a></li>
					<li><a href="https://es.wikipedia.org/wiki/Final_(ajedrez)" target="_blank">About Chess Endings</a></li>
				</ul>
				</li>
				<li role="presentation"><a href="/registration">Sign Up</a></li>
				<li role="presentation"><a href="/login">Log In</a></li>
			</ul>
		</nav>
	</header>
	<div class="capa"></div>
	<!-- The file "main.js" is imported -->
	<script src="./static/js/main.js"></script>
</body>
<alfarnedo>
</alfarnedo>
</html>
